@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
<<<<<<< HEAD
    <h1 class="display-4">Application - Version 17</h1>
=======
    <h1 class="display-4">Application - Version 16</h1>
>>>>>>> b1ddad580f4ae22df81ea1ece8b717ae0e7e76ae
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
